@font-face {
  font-family: 'Commissioner';
  font-display: swap;
  src: url('Commissioner/Commissioner-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Commissioner';
  font-display: swap;
  src: url('Commissioner/Commissioner-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Commissioner';
  font-display: swap;
  src: url('Commissioner/Commissioner-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Commissioner';
  font-display: swap;
  src: url('Commissioner/Commissioner-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}